* {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(232, 232, 232);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 10px;
}

button {
    background-color: #e3c2ff;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
}

#welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#questionOne {
    display: none;
}

#questionTwo {
    display: none;
}

#questionThree {
    display: none;
}

#questionFour {
    display: none;
}

#questionFive {
    display: none;
}

#result-msg {
    display: none;
}

#inputPage {
    display: none;
}

#highScorePage {
    display: none;
}

#highScorePage header, p {
    font-size: 20px;
    font-weight: bolder;
}