nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #e7d9fc;
  }

#welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionOne {
    display: none;
}

#questionTwo {
    display: none;
}

#questionThree {
    display: none;
}

#questionFour {
    display: none;
}

#result-msg {
    display: none;
}

#inputPage {
    display: none;
}
/* 
#highScorePage {
    display: none;
} */